body.content_only .primary_block .col-md-3 {
	width: 25% !important;
}

#product.content_only div.primary_block div.pb-left-column {
	padding: 20px 5px 5px 20px !important;
}

#product.content_only div.primary_block div.pb-center-column {
	padding: 20px 5px 60px 5px !important;
}

#thumbs_list {
	width: 196px !important;
}

.disallow_reservation {
	display: none !important;
}

#bestkit_booking .title {
	padding: 6px 0px 6px 15px;
}

#bestkit_booking {
	/*margin-top: 15px;*/
	text-align: center;
	margin-bottom: 15px;
}

#bestkit_booking .title {
	font-size: 16px;
}

#bestkit_booking .reservation {
	/*margin-top: 10px;*/
}

#bestkit_booking .selected-dates {
	margin: 10px 25px 0px 25px;
	padding: 8px;
	/*border-radius: 10px;*/
	color: white;
	background: #55c65e;
	border: 1px solid #36943e;
}

#bestkit_booking .selected-dates span {
	font-weight: bold;
}

#bestkit_booking .time-selection {
	width: 50%;
	text-align: left;
}

#bestkit_booking .time-to {
	float: right;
}

#bestkit_booking.billing-type-hours select {
	/*width: 100px;*/
	width: 60px;
}

#bestkit_booking.billing-type-minutes select {
	width: 60px;
}

#bestkit_booking select.hour {
	float: left;
}

#bestkit_booking .time_fromto_container {
	margin-top: 10px;
}

#timesPreview {
	min-width: 700px;
}

#timesPreview .minutes td {
	font-size: 8px;
	padding: 1px;
}

#timesPreview .hours td {
	background-color: rgb(220, 246, 255);
	text-align: center;
	font-weight: bold;
	border-radius: 10px;
}

#timesPreview .hours table {
	/*border: solid 1px white;*/
}

#timesPreview .header td {
	text-align: center;
}

#timesPreview table {
	width: 100%;
}

#timesPreview .hour_details_view.active {
	font-size: 15px;
	color: rgb(0, 100, 255);;
}

.minimal-interval {
	padding: 5px;
	margin: 10px 30px 0px 30px;
}

.time-selection-container {
	margin: 10px 0px 5px 10px;
}

.available-time-container {
	border: 1px solid silver;
	background-color: #f6f6f6;
}

.available-time {
	font-weight: bold;
}

#bestkit_booking .check_selected_params {
	padding-top: 10px;
}

#bestkit_booking .check_selected_params a {
	font-weight: bold;
}

#bestkit_booking .reservation_status {
	padding-top: 10px;
	font-weight: bold;
	margin-top: 10px;
}

#bestkit_booking .reservation_status.disallow {
	color: red;
}

#bestkit_booking .reservation_status.allow {
	color: green;
}

.ui-state-selected-date a {
	border: 1px solid green !important;
	color: green !important;
	/*font-weight: bold !important;*/
	background: rgba(153, 255, 136, 1) !important;
}

.ui-widget-content {
	border: 1px solid #CDCDCD;
}

.ui-datepicker-header {
	background: #f6f6f6;
}

/*
body {
	background: url('../img/darkdenim3.png') repeat 0 0 #555;
}

.ui-datepicker {
	width: 224px;
	height: auto;
	margin: 5px auto 0;
	font: 9pt Arial, sans-serif;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
}
.ui-datepicker a {
	text-decoration: none;
}

.ui-datepicker table {
	width: 100%;
}
.ui-datepicker-header {
	background: url('../img/dark_leather.png') repeat 0 0 #000;
	color: #e0e0e0;
	font-weight: bold;
	-webkit-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, 2);
	-moz-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
	box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
	text-shadow: 1px -1px 0px #000;
	filter: dropshadow(color=#000, offx=1, offy=-1);
	line-height: 30px;
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #111;
}
.ui-datepicker-title {
	text-align: center;
}
.ui-datepicker-prev, .ui-datepicker-next {
	display: inline-block;
	width: 30px !important;
	height: 30px !important;
	text-align: center;
	cursor: pointer !important;
	background-image: url('../img/arrow.png') !important;
	background-repeat: no-repeat;
	line-height: 600%;
	overflow: hidden;
}
.ui-datepicker-prev {
	float: left;
	background-position: center -30px;
}
.ui-datepicker-next {
	float: right;
	background-position: center 0px;
}
.ui-datepicker thead {
	background-color: #f7f7f7;
	background-image: -moz-linear-gradient(top,  #f7f7f7 0%, #f1f1f1 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#f1f1f1));
	background-image: -webkit-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
	background-image: -o-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
	background-image: -ms-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
	background-image: linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f1f1f1',GradientType=0 );
	border-bottom: 1px solid #bbb;
}
.ui-datepicker th {
	text-transform: uppercase;
	font-size: 6pt;
	padding: 5px 0;
	color: #666666;
	text-shadow: 1px 0px 0px #fff;
	filter: dropshadow(color=#fff, offx=1, offy=0);
}
.ui-datepicker tbody td {
	padding: 0;
	border-right: 1px solid #bbb;
}
.ui-datepicker tbody td:last-child {
	border-right: 0px;
}
.ui-datepicker tbody tr {
	border-bottom: 1px solid #bbb;
}
.ui-datepicker tbody tr:last-child {
	border-bottom: 0px;
}
.ui-datepicker td span, .ui-datepicker td a {
	display: inline-block;
	font-weight: bold;
	text-align: center;
	width: 30px;
	height: 30px;
	line-height: 30px;
	color: #666666;
	text-shadow: 1px 1px 0px #fff;
	filter: dropshadow(color=#fff, offx=1, offy=1);
}
.ui-datepicker-calendar .ui-state-default {
	background: #ededed;
	background: -moz-linear-gradient(top,  #ededed 0%, #dedede 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#dedede));
	background: -webkit-linear-gradient(top,  #ededed 0%,#dedede 100%);
	background: -o-linear-gradient(top,  #ededed 0%,#dedede 100%);
	background: -ms-linear-gradient(top,  #ededed 0%,#dedede 100%);
	background: linear-gradient(top,  #ededed 0%,#dedede 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dedede',GradientType=0 );
	-webkit-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
	-moz-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
	box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
}
.ui-datepicker-calendar .ui-state-hover {
	background: #f7f7f7;
}
.ui-datepicker-calendar .ui-state-active, .ui-state-selected-date a {
	background: #6eafbf;
	-webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
	-moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
	box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
	color: #e0e0e0;
	text-shadow: 0px 1px 0px #4d7a85;
	filter: dropshadow(color=#4d7a85, offx=0, offy=1);
	border: 1px solid #55838f;
	position: relative;
}
.ui-datepicker-unselectable .ui-state-default {
	background: #f4f4f4;
	color: #b4b3b3;
}
.ui-datepicker-calendar td:first-child .ui-state-active, .ui-state-selected-date a {
	width: 30px;
	margin-left: 0;
}
.ui-datepicker-calendar td:last-child .ui-state-active, .ui-state-selected-date a {
	width: 30px;
	margin-right: 0;
}
.ui-datepicker-calendar tr:last-child .ui-state-active, .ui-state-selected-date a {
	height: 30px;
	margin-bottom: 0;
}

.ui-state-selected-date a {
	border: 2px solid green !important;
	color: green !important;
	font-weight: bold !important;
	padding-top: 0px !important;
}*/

.ui-datepicker {
	width: 100%;
}

.ui-datepicker-calendar td:after {
	font-size: 9px;
	text-align: center;
    display: block;
    border: 1px solid silver;
    border-top: 0px;
    line-height: 10px;
    padding: 4px 0px;
}

.ui-datepicker td {
	vertical-align: top;
}

#timesPreview .bill-price {
	font-weight: normal;
    font-size: 10px;
}

.ui-datepicker .ui-datepicker-header {
	border-radius: 0;
}

#booking_map {
	display: none;
	width:95%;
	height:300px;
	margin: 0 auto;
}